.product {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 0 30px;
}

.product-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vh;
}
.header-left button {
  background-color: purple;
  border-radius: 0;
  color: white;
}
.show-products {
  width: 100%;
}
.show-product {
  margin-bottom: 10px;
}
.selector {
  border: 1px solid lightgray;
  background-color: white;
}
