.form-container {
  background: whitesmoke;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form {
  background-color: white;
  box-sizing: border-box;
  padding: 2vh;
}
.image-container {
  width: 50%;
}
.productForm-btn {
  background-color: purple;
  border-radius: 0;
  color: white;
}
