.card {
  width: 250px;
  height: 385px;
  border-radius: 0;
  border: 1px solid lightgray;
}
.card-img {
  border-radius: 0;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1vh;
}
.titleAndprice {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1vh;
}
.edit-button {
  border-radius: 0;
}
