.menu {
  display: flex;
  align-content: center;
  justify-content: end;
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
}
.menu li {
  padding: 0px 0px 5px;
  display: flex;
  align-content: center;
  width: 50%;
}

.icon {
  padding-right: 5px;
  color: white;
  font-size: x-large;
}
.btn {
  display: flex;
  align-items: center;
  font-size: medium;
  color: white;
  padding: 0;
}
.cart {
  padding: 0;
}
.cart_container {
  gap: 1vh;
}
