.cart-list {
  box-sizing: border-box;
}
.cart-image {
  width: 30%;
}
.item-info {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.nameAndprice {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
}
.item-info h4 h3 {
  margin-top: 0;
  padding-top: 0;
}
.product-controls {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
}
.scroll {
  max-height: 300px;
  height: 300px;
  overflow: auto;
}
h1 {
  margin: 0;
  padding: 0;
}
