.footer-container {
  background-color: rgb(16, 21, 41);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  padding: 0 20px 0 20px;
  margin: 0;
}
.footer-container a {
  color: white;
}
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.footer-text {
  font-size: small;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
