.product-page {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  height: 100%;
  background-color: whitesmoke;
}

.product-container {
  background-color: white;
  box-sizing: border-box;
  padding: 5vh;
  display: flex;
  gap: 5vh;
}
.left-side {
  width: 50%;
}
.right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.right-side h5 {
  margin-top: 0;
}
.description {
  color: gray;
  padding-bottom: 20px;
}
.product-buttons {
  list-style: none;
  display: flex;
  box-sizing: border-box;
  justify-content: start;
  padding: 0;
  gap: 10px;
}
.product-buttons li {
  width: 50%;
}
.product-buttons button {
  border-radius: 0;
}

@media (max-width: 578px) {
  .product-container {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    width: 100%;
  }
  .right-side {
    width: 100%;
  }
}
